@import "tailwindcss";

@theme {
  --color-brand-dark: #1D1D1B;
  --color-brand-orange: #FF7400;
  --color-brand-blue: #0275B6;
  --color-brand-light: #f8f9fa;
  --font-sans: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
