---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhyAttend from '../components/WhyAttend.astro';
import WhoShouldAttend from '../components/WhoShouldAttend.astro';
import CompanyLogos from '../components/CompanyLogos.astro';
import LearningOutcomes from '../components/LearningOutcomes.astro';
import Testimonials from '../components/Testimonials.astro';
import Speakers from '../components/Speakers.astro';
import Schedule from '../components/Schedule.astro';
import GrowthFramework from '../components/GrowthFramework.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <WhyAttend />
    <WhoShouldAttend />
    <CompanyLogos />
    <LearningOutcomes />
    <Testimonials />
    <Speakers />
    <Schedule />
    <GrowthFramework />
  </main>
  <Footer />
</Layout>
